#header {
  padding: 10px;
}
#header h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mian .jd {
  width: 100%;
  border: 1px solid #dadada;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
}
.mian .jd ul {
  width: 100%;
  margin: 0;
  background-color: #fff;
}
.mian .jd ul li {
  text-align: center;
  line-height: 37px;
  background-color: #fff;
}
.mian .jd ul li i {
  text-align: center;
}
.mian .jd ul li i img {
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: baseline;
}
.mian .jd_x,
.mian .jd_e {
  width: 100%;
  display: none;
  position: absolute;
}
.mian .jd_x ul,
.mian .jd_e ul {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
}
.mian .jd_x ul li,
.mian .jd_e ul li {
  width: 100%;
  display: inline-block;
  padding-left: 10px;
  border: 1px solid #dadada;
  line-height: 37px;
}
.mian .ulbody {
  background-color: #f1f1f1;
  padding-top: 6px;
}
.mian .ulbody ul {
  width: 98%;
  margin: 0 auto ;
}
.mian .ulbody ul li {
  width: 47%;
  float: left;
  display: table-cell;
  background-color: #ffffff;
  margin: 4px;
  padding-right: 3px;
  padding-left: 0;
}
.mian .ulbody ul li a {
  display: block;
}
.mian .ulbody ul li a div:nth-child(1) {
  width: 100%;
  text-align: center;
}
.mian .ulbody ul li a div:nth-child(1) img {
  width: 145px;
  height: 145px;
}
.mian .ulbody ul li a div:nth-child(2) {
  color: #333333;
  word-break: break-all;
  padding: 0 6px;
  height: 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  text-align: left;
  margin-top: 6px;
}
.mian .ulbody ul li a div:nth-child(3) {
  display: block;
  width: 100%;
}
.mian .ulbody ul li a div:nth-child(3) span:nth-child(1) {
  font-size: 20px;
  color: #f8601d;
  float: left;
  padding-left: 5px;
}
.mian .ulbody ul li a div:nth-child(3) span:nth-child(2) {
  float: right;
  display: block;
  font-size: 14px;
  background-color: #ff9501;
  padding: 4px 10px;
  color: #ffffff;
  border-radius: 5px;
}
body {
  background-color: #f1f1f1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
