#header h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 800;
}
.auto {
  width: 300px;
  margin: 10px auto;
  float: none;
}
.auto a {
  padding: 10px 8px;
  background: #f4f4f4;
  border: 1px solid #bfbfbf;
  float: left;
  margin: 6px 5px;
}
#footer .fhD ul li {
  overflow: hidden;
}
.link {
  overflow: hidden;
}
